<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.0" name="io.tradeworks">
	<resources>
		<resource-root path="tradeworks-messaging-tw2-1.0.jar"/>
		<resource-root path="joda-time-2.8.1.jar"/>
        <resource-root path="aws-java-sdk-sns-1.11.125.jar"/>
	</resources>
	<dependencies>
		<module name="org.apache.commons"/>
	</dependencies>
</module>
