<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="com.magick.core">
	<resources>
		<resource-root path="indicators-2.7.63.jar" />
		<resource-root path="rulegenerator-2.7.86.jar" />
	</resources>
	<dependencies>
		<module name="javax.api"/>
		<module name="com.magick.models"/>
		<module name="org.slf4j"/>
		<module name="org.apache.commons.collections"/>
		<module name="javax.ws.rs.api"/>
		<module name="org.drools"/>
        <module name="org.apache.log4j"/>
        <module name="org.apache.commons.lang3"/>
        <module name="com.fasterxml.jackson.core"/>
        <module name="org.apache.camel.core"/>
        <module name="org.javassist"/>
        <module name="org.jboss.weld.core"/>
	</dependencies>
</module>
